$color_blue_default       : #5D92F4;
$color_blue_markup        : #003366;
$color_blue_area          : #002447;
$color_blue_feature       : #038FDD;
$color_yellow_markup      : #FA8C15;

$color_white              : #FFF;

$color_gray_markup        : #F5F5F5;
$color_gray_area          : #D9D9D9;

$color_black_text         : #404040;

$color_red_default        : #F5222D;

$color_green_default      : #00D014;
$color_green_effect_one   : #00aa10;
$color_green_effect_two   : #25b533;
$color_green_effect_three : #009d0f;