@import '../../braga/variables.module';

.wrapper__left {
  float: left;
  height: 1110px;
  background-color: $color_blue_markup;
  width: 260px;
  color: $color_blue_default;
  overflow-y: hidden;
}
.wrapper__right {
  float: left;
  height: 100%;
  width: calc(100% - 260px);
}
.wrapper__left::-webkit-scrollbar-thumb {
  background-color: #002447;
}
